body {
  background-color: #fbfaf5;
}

.login-card {
  display: flex;
  justify-content: center;
  padding: 25px;
}

video {
  width: calc(100%);
  height: calc(100%);
}

canvas {
  width: calc(100%);
  height: calc(100%);
}
